<div data-layout="row" data-layout-gap="8px">
    <mat-form-field appearance="outline">
        <mat-label>Initial Value</mat-label>
        <input matInput type="number" [ngModel]="initialValue()" (ngModelChange)="initialValue.set($event)" name="initialValue">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Final Value</mat-label>
        <input matInput type="number" [ngModel]="finalValue()" (ngModelChange)="finalValue.set($event)" name="finalValue">
    </mat-form-field>
</div>

<!-- @if (calculatedPercentage() !== 0){ -->
@if (percentageIncrease()){
<div class="p-5">
    Percentage Difference : {{percentageIncrease()}} %
</div>
}