@if (isUserRoute()) {
  <router-outlet></router-outlet>
} @else {
  <mat-toolbar
    data-layout="row"
    data-layout-align="space-between center"
    class="pl-0"
  >
    <div data-layout="row" data-layout-align="space-between center">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ml-2">{{ activeRouteLabel() }}</span>
    </div>
    <button
      mat-icon-button
      (click)="toggleTheme()"
      [matTooltip]="
        isDarkMode() ? 'Switch to Light Mode' : 'Switch to Dark Mode'
      "
      class="ml-2 left-0"
    >
      @if (isDarkMode()) {
        <mat-icon>light_mode</mat-icon>
      } @else {
        <mat-icon>dark_mode</mat-icon>
      }
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="mainContainer" autosize>
    <mat-sidenav mode="side" class="mainSideNav" #sidenav>
      <div class="buttonList pt-3">
        @for (item of routingList; track $index) {
          <button
            mat-icon-button
            [routerLink]="item.link"
            [attr.aria-label]="item.label + ' Icon Button'"
            class="mb-5"
            [matTooltip]="item.label"
            [matTooltipPosition]="'right'"
            (click)="sidenav.toggle()"
          >
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="item.label + ' Icon'"
              >{{ item.icon }}</mat-icon
            >
          </button>
        }
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
}
