<div class="portfolio-page-wrapper">
  <button
    mat-icon-button
    class="gateway-bolt"
    routerLink="/user"
    matTooltip="Enter Dashboard"
    matTooltipPosition="left"
  >
    <mat-icon>bolt</mat-icon>
  </button>
  
  <div class="header">
    <app-hero [resume]="resume()"></app-hero>
    <app-summary [resume]="resume()"></app-summary>
    <app-experience [worksData]="resume().work"></app-experience>
    <app-education [education]="resume().education"></app-education>
    <app-skills [resume]="resume()" [gridColumns]="gridColumns()"></app-skills>
    <app-certificates [certificates]="resume().certificates"></app-certificates>
    <app-awards [awards]="resume().awards"></app-awards>
  </div>
</div>
