<div class="p-5">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 16px;">
        <button mat-stroked-button color="primary" type="button" (click)="openListDialog()">
            <mat-icon>list</mat-icon> View Saved List
        </button>
    </div>
    <form [formGroup]="experienceForm" (ngSubmit)="submitRecord()">
        <div style="border: 1px solid rgba(0,0,0,0.12); border-radius: 8px; padding: 16px; margin-bottom: 24px;">
            <h4 style="margin-top: 0; margin-bottom: 16px;">Personal Details</h4>
            <div data-layout="row" data-layout-xs="column">
                <mat-form-field appearance="outline" class="mr-4">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" placeholder="Enter Name" name="name">
                    <mat-error><app-error-message [control]="experienceForm.get('name')"
                            fieldName="Name"></app-error-message></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Enter Email" name="email">
                    <mat-error><app-error-message [control]="experienceForm.get('email')"
                            fieldName="Email"></app-error-message></mat-error>
                </mat-form-field>


                @if(getComputedExperience()) {
                <div class="ml-4">
                    <h4 style="margin-top: 0; margin-bottom: 8px;">Calculated Experience</h4>
                    <div>{{getComputedExperience()}}</div>
                </div>
                }
            </div>
            <mat-divider></mat-divider>

            <div data-layout="row" data-layout-align="space-between center" class="mb-4 mt-2">
                <h4 style="margin: 0;">Employment Intervals / Experiences</h4>
                <button mat-icon-button type="button" (click)="addDateRangeRow()" color="primary"
                    matTooltip="Add Experience">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div formArrayName="experience">
                @for (control of experienceFormArray.controls; track control; let i = $index) {
                <div [formGroupName]="i" data-layout="row" class="mb-3"
                    style="border: 1px solid rgba(0,0,0,0.12); border-radius: 8px; padding: 16px 16px; background-color: rgba(0,0,0,0.02);">
                    <div data-layout="row" data-layout-xs="column" data-layout-align="start center"
                        data-layout-align-xs="start start">
                        <mat-form-field appearance="outline" class="mr-4">
                            <mat-label>Select Start Date</mat-label>
                            <input matInput [matDatepicker]="matStartDate" [max]="maxDate" placeholder="Start date"
                                formControlName="start">
                            <mat-datepicker-toggle matSuffix [for]="matStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #matStartDate startView="multi-year"></mat-datepicker>
                            <mat-error><app-error-message [control]="control.get('start')"
                                    fieldName="Start date"></app-error-message></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Select End Date</mat-label>
                            <input matInput [matDatepicker]="matEndDate" placeholder="End date" formControlName="end">
                            <mat-datepicker-toggle matSuffix [for]="matEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #matEndDate startView="multi-year"></mat-datepicker>
                            <mat-error><app-error-message [control]="control.get('end')"
                                    fieldName="End date"></app-error-message></mat-error>
                        </mat-form-field>
                    </div>

                    <span style="flex: 1;"></span>

                    <button mat-icon-button type="button" (click)="removeDateRangeRow(i)"
                        [disabled]="experienceFormArray.length <= 1" color="warn" matTooltip="Remove Experience">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                }
            </div>
        </div>

        <div data-layout="row" data-layout-xs="column" data-layout-align="start center">
            <button mat-flat-button color="primary" type="button" (click)="submitRecord()"
                [disabled]="experienceForm.invalid" class="mr-3">{{experienceForm.value.id ? 'Update' : 'Add'}}</button>
            <button mat-flat-button color="accent" type="button" (click)="reset()">Reset</button>
        </div>
    </form>


</div>