<div class="p-5">
    <form>

        <mat-form-field class="mr-4">
            <mat-label>Select Start Date</mat-label>
            <input matInput [matDatepicker]="matStartDate" [max]="maxDate" placeholder="Start date"
                [ngModel]="startDate()" (ngModelChange)="startDate.set($event)" name="startDate" #startDateInput="ngModel">
            <mat-datepicker-toggle matSuffix [for]="matStartDate"></mat-datepicker-toggle>
            <mat-datepicker #matStartDate startView="multi-year"></mat-datepicker>
            @if (startDateInput.touched && startDateInput.hasError('matStartDateInvalid')) {
            <mat-error>Invalid start date</mat-error>
            }
        </mat-form-field>


        <mat-form-field>
            <mat-label>Select End Date</mat-label>
            <input matInput [matDatepicker]="matEndDate" placeholder="End date" [ngModel]="endDate()"
                (ngModelChange)="endDate.set($event)" name="endDate" #endDateInput="ngModel">
            <mat-datepicker-toggle matSuffix [for]="matEndDate"></mat-datepicker-toggle>
            <mat-datepicker #matEndDate startView="multi-year"></mat-datepicker>
            @if (endDateInput.touched && endDateInput.hasError('matEndDateInvalid')) {
            <mat-error>Invalid end date</mat-error>
            }
        </mat-form-field>

    </form>

    <button mat-flat-button (click)="calculateExperience()" class="mr-3">Add</button>
    <button mat-flat-button (click)="reset()">Reset</button>

    <div class="experienceTable">
        <table mat-table [dataSource]="experiences()" class="">

            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.start | date: 'MM/dd/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.end | date: 'MM/dd/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="experience">
                <th mat-header-cell *matHeaderCellDef> Experience </th>
                <td mat-cell *matCellDef="let element"> {{element.years}} Years {{element.months}} Months
                    {{element.days}} days</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
    <div class="p-5">
        @if(experiences().length){
        <div>{{totalExperience().years}} Years {{totalExperience().months}} Months
            {{totalExperience().days}} days</div>
        }
    </div>
</div>