<mat-drawer-container class="mainContainer">
    <mat-drawer mode="side" opened class="pt-3">
        @for (item of routingList; track $index) {
        <button mat-icon-button [routerLink]="item.link" [attr.aria-label]="item.label + ' Icon Button'" class="mr-5"
            [matTooltip]="item.label">
            <mat-icon aria-hidden="false" [attr.aria-label]="item.label + ' Icon'" >{{item.icon}}</mat-icon>
        </button>
        }
    </mat-drawer>
    <mat-drawer-content class="pt-3">
        <div class="px-5">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>