<mat-sidenav-container class="mainContainer" autosize>
    <mat-sidenav mode="side" opened class="">
        <div class="buttonList pt-3">
        @for (item of routingList; track $index) {
        <button mat-icon-button [routerLink]="item.link" [attr.aria-label]="item.label + ' Icon Button'" class="mb-5"
            [matTooltip]="item.label" [matTooltipPosition]="'right'">
            <mat-icon aria-hidden="false" [attr.aria-label]="item.label + ' Icon'" >{{item.icon}}</mat-icon>
        </button>
        }
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>