<div class="header">
    <div class="profile-card ">
        <div class="fs-30 fw-7">Hi, I'm {{resume().basics.name}}</div>
        <div class="mat-headline-small">{{resume().basics.label}}</div>
    </div>

    <div class="cardsList">
        @for(skill of resume().skills; track skill.name){
        <mat-card appearance="outlined" class="matCard">
            <mat-card-header>
                <mat-card-subtitle>{{skill.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-set aria-label="Skills List" id="skillImageDiv">
                    @for(keyword of skill.keywords; track keyword){
                    <div mat-card-avatar class="example-header-image" class="mt-2 mr-2" [matTooltip]="keyword">
                        <img src="../../../assets/skills/{{keyword}}.svg" class="skillImage" />
                        <!-- @if( keyword.icon){
                        <span class="material-icons">{{keyword.icon}}</span>
                        } @else {
                        } -->

                    </div>
                    }
                </mat-chip-set>
            </mat-card-content>
        </mat-card>
        }
    </div>

</div>