<div class="header">
    <div class="profile-card mb-3">
        <div data-layout="row" data-layout-align="start center">
            <span class="fs-20">Hi, I'm</span>
            <span [class]="'ml-4 fs-30 c-' + classNameForJobTitle()">{{jobtitle()}} ✍️</span>
            <!-- <svg class="nameSvg">
                <text x="50%" y="50%" text-anchor="middle">
                    {{resume().basics.name}}
                </text>
            </svg> -->
        </div>
        <!-- <div class="mat-headline-small">{{resume().basics.jobtitle}}</div> -->
    </div>
    <!-- <div>
        <ul>
            @for (para of resume().basics.summary; track $index) {
            <li>{{para}}</li>
            }
        </ul>
    </div> -->

    <mat-card appearance="outlined" class="matCard">

        <mat-card-header>
            <mat-card-title>Work Experience</mat-card-title>
        </mat-card-header>
        @for (work of resume().work; track $index) {
        <mat-card-header>
            <mat-card-subtitle>{{work.name}} - {{work.position}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="workExperience">

        </mat-card-content>
        }
    </mat-card>


    <div class="skills-grid-container" [style.grid-template-columns]="'repeat(' + gridColumns() + ', 1fr)'">
        @for(skill of resume().skills; track skill.name){
        <div class="skill-grid-item">
            <mat-card appearance="outlined" class="skillCard" style="flex: 1;">
                <mat-card-header>
                    <mat-card-subtitle>{{skill.name}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-chip-set aria-label="Skills List" id="skillImageDiv">
                        @for(keyword of skill.keywords; track keyword){
                        <div mat-card-avatar class="example-header-image mt-2 mr-2" [matTooltip]="keyword.name">
                            <img src="assets/skills/{{keyword.name}}.svg"
                                class="{{keyword.url ? 'cursorp' :''}} skillImage"
                                (click)="openInNewTab(keyword.url)" />
                        </div>
                        }
                    </mat-chip-set>
                </mat-card-content>
            </mat-card>
        </div>
        }
    </div>

</div>